.formulario {
    display: flex;
    justify-content:end;    
    padding-top: 6rem;      
}

.formulario form {
    max-width: 100%;
    background-color: cornflowerblue;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 2rem 6rem;
    height: 100%;
}

