.boton {
    padding: 1rem;
    margin-top: 2rem;
    background-color: #a2d2ff;
    border-radius: 15px;   
    margin: 3rem 5rem;     
}

.boton:hover {
    color: #3f37c9;
    background-color: #9bf6ff;
}