# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
../node_modules/

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db

# Environment files
.env
.env.local
.env.*.local

# flix files and folders
flix/package-lock.json
flix/package.json
flix/vite.config.js
flix/README.md
flix/eslint.config.js

# flix directories
flix/node_modules/
flix/public/
flix/src/
